*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

body{
	margin: 5px;
}

h1{
	font-size: 45px; 
	margin-bottom: 15px;
}

.container{
	user-select: none;
	cursor: pointer;
	display: block;
	margin-bottom: 5px;
	font-size: 25px;
	position: relative;
	padding-left: 40px;
}

input{
	opacity: 0;
}
.checkmark{
	position: absolute;
	left: 0px;
	width: 30px;
	height: 30px;
	border: 1px solid #949494;
	background-color: #EBEBEB;
}

.container:hover .checkmark{
	background-color: #C7C7C7;
}

.container input:checked~.checkmark{
	background-color: #00C0C2;
}

.checkmark:after{
	content: "";
	width: 8px;
	height: 16px;
	border: solid white;
	border-width: 0px 5px 5px 0px;
	position: absolute;
	transform: rotate(45deg);
	left: 8px;
	display: none;
}

.container input:checked~.checkmark:after{
	display: block;
}