*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.navbar{
	width: 100%;
	position: fixed;
	top: -100px;
	opacity: 0.8;
	background-color: #1D1D1D;
	transition-duration: 0.6s;
}

.navbar a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 20px;
}

.navbar a:hover{
	color: #C5C5C5;
}

.content{
	padding: 10px;
}

.content h1{
	font-size: 75px;
}

.content p{
	padding: 10px;
	font-size: 45px;
}

.active{
	top: 0px;
}