*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

body{
	padding: 10px;
}

table{
	border-collapse: collapse;
	width: 50%;
}

tr{
	padding: 10px;
	text-align: center;
	border: 3px solid #CACACA;
}

th,td{
	padding: 10px;
}

tr:nth-child(even){
	background-color: #CACACA;
}