body {
    background-image: radial-gradient(#45D5FF, #2C9EAC);
    height: 100vh;
}

div {
    height: 100px;
    font-size: 160px;
    color: white;
    position: absolute;
    margin-top: -50px;
    top: 50vh;
    transform: translate(-50%, -50%);
    left: 50%;
    font-family: sans-serif;
    text-transform: uppercase;
}

div:after {
    content: attr(data-set);
    position: absolute;
    top: -70px;
    left: 0px;
    transform-origin: bottom;
    transform: rotateX(180deg);
    background: linear-gradient(0deg, #FEFEFE 0, transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
}