*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

.slide-container{
	width: 100%;
	position: relative;
	margin: auto;
}

.slide{
	position: relative;
}

.numbertext{
	font-size: 25px;
	color: white;
	position: absolute;
	padding: 20px;
}

img{
	width: 100vw;
	height: 75vh;
}

.text{
	user-select: all;
	position: absolute;
	color: white;
	font-size: 45px;
	bottom: 25px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
}

.next, .prev {
	text-decoration: none;
	font-size: 45px;
	color: white;
	position: absolute;
	padding: 20px;
	top: 50%;
	margin-top: -180px;
}

.next{
	right: 0px;
}

.next:hover,.prev:hover{
	background-color: black;
	opacity: 0.8;
}

.dots{
	text-align: center;
	padding: 20px;
}

.dot{
	margin: 0px 5px ;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	background-color: #C3C3C3;
	transition-duration: 1s;
}

.active{
	background-color: black;
}

.fade{
	animation-name: fade;
	animation-duration: 1s;
}

@keyframes fade{
	from{opacity: 0.4}
	to{opacity: 1}
}


