*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

.navbar{
	display: block;
	background-color: black;
	overflow: hidden;
}

.navbar>a{
	color: white;
	text-decoration: none;
	font-size: 25px;
	padding: 20px;
	float: left;
}

.dropdown{
	float: left;
}

.dropdown>button{
	color: white;
	font-size: 25px;
	padding: 20px;
	border: none;
	background-color: black;	
}

.dropdown-content{
	display: none;
	background-color: blue;
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0px;
}

.dropdown-content>a{
	font-size: 25px;
	padding: 20px;
	text-decoration: none;
	color: white;
	float: left;
}

.dropdown:hover .dropdown-content{
	display: block;
	background-color: blue;
}

.dropdown:hover button{
	background-color: blue;
}

.navbar>*:hover{
	background-color: blue;
}