*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

h2{
	font-size: 45px;
	padding-bottom: 10px;
}

h3{
	font-size: 35px;
	padding-bottom: 10px;
	text-align: center;
}

p{
	font-size: 35px;
}

.header{
	padding: 40px;
	background-color: #E8E8E8;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0px;
}

.content{
	margin-top: 150px;
	padding: 20px;
}

.progress-container{
	background-color: #F5F5F5;
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.progress-bar{
	background-color: #13A300;
	height: 100%;
}