*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.content h1{
	font-size: 45px;
}

.content p{
	font-size: 35px;
	padding: 25px 0px;
}

.content img{
	cursor: pointer;
	width: 20%;
}

.content img:hover{
	opacity: 0.6;
}

#modal{
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	width: 100%;
	padding-top: 100px;
	top: 0px;
}

#modal a{
	text-decoration: none;
	font-size: 55px;
	padding: 5px;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}

#modal img{
	width: 100%;
	animation-name: zoom;
	animation-duration: 1s;
}

@keyframes zoom{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}

.hidden{
	display: none;
}