* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar {
    word-spacing: -4px;
    overflow: hidden;
}

.navbar > *:hover{
	background-color: #FF0000;
}

.navbar>a {
    float: left;
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 25px;
}

.navbar>.dropdown {
    float: left;
}

.navbar>.dropdown>button {
    font-size: 25px;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.navbar>.dropdown a {
    min-width: 160px;
    display: block;
    text-decoration: none;
    padding: 20px;
    background-color: #E2E2E2;
    color: black;
}

.navbar>.dropdown .dropdown-content {
	position: absolute;
    height: 0px;
    overflow: hidden;
    transition-duration: 1s;
}

.navbar>.dropdown:hover .dropdown-content{
	height: 200px;
}

.navbar>.dropdown a:hover {
    background-color: #B8B8B8;
}

h3 {
    font-size: 45px;
}

p {
    font-size: 25px;
}